<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" 
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="public/style.css">
</head>

<body>
    <nav>
        <h2>The only ways to make Money on Darknet (updated guides)</h2>
        <ul>
            <li style="text-decoration: underline;">Only $85</li>
        </ul>
    </nav>

    <section>
        <div class="container">
            <form action="/index" method="POST">
                Password <input type="password" name="pass" id="pwd" required>
                <button type="submit">Access</button>
            </form>
        </div>
        <div class="box">
            It's time to make our hands dirty. Don't get scamed<br /> over the darknet. Play it smart move away clean.
            <p>Provide payment proof on:<br>
                sdeal552@gmail.com for the access code
            </p>
            <div class="funds">
                <p>
                    Deposite funds on address below<br>
                    <h3><span>3EDUeAdvDwwM2t7RKgi1deBFLV2gXXqonQ
                        <i class="fas fa-copy"></i>
                    </span></h3>
                </p>
            </div>
        </div>

    </section>
    <script src="app.js"></script>
</body>

</html>